@use '../custom' as *;
@use './_vars.scss';


.btn {
	background-color: white;
	border: 1px solid $yellow;
	&:hover{
		background-color: $yellow;
		border: 1px solid $yellow;
	}
};


// .btn {
// 	width: 150px;
// 	height: 45px;
// 	padding: 10px 5px;
// 	border: 1px solid $yellow;
// 	border-radius: 10px;
// 	font-size: 20px;
// 	outline: none;
// 	line-height: 10px;
// 	&:hover {
// 		outline: none;
// 		background-color: $yellow;
// 		color: white;
// 		transition: background-color 0.3s;
// 		transition: color 0.3s;
// 	}
// }
//navbar

.btn:focus {
	outline: none;
	box-shadow: none;
}
