
@use './_custom.scss' as *;
@use './components/vars';
@use './components/mixins';
@use './sections/intro';
@use './sections/navbar';
@use './sections/values';




@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Fredoka One", cursive;
}

a {
	font-family: inherit;
	font-weight: 500;
}

//variables
$yellow: #f8b534;
$small: 576px;
$medium: 768px;
$large: 992px;

.main-color {
	color: $yellow;
}




@media screen and (max-width: $small) {
	.intro h1 {
		font-size: 1.5rem;
	}
	.intro p {
		font-size: 0.831rem;
	}
	.intro .btn {
		// width: 110px;
	}
}

